<!-- Header -->
<header id="header">
    <a routerLink="/" class="logo">التميز و الجودة هدفنا</a>
</header>

<!-- Nav -->
<nav id="nav">
    <ul class="links">
        <li class="active"><a>من نحن</a></li>
    </ul>
    <ul class="icons">
        <li><a class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
    </ul>
</nav>