<!-- Main -->
<div id="main">
  <!-- Featured Post -->
  <article class="post featured">
    <header class="major">
      <!-- <span class="date">April 25, 2020</span> -->
      <h2>
        <a>الفارس لنقل الاثاث</a>
      </h2>
      <p>
        شركة الفارس لـ نقل الاثاث المنزلي وتغليف العفش داخل وخارج الرياض توفر لك متخصصين في فك وتركيب العفش
        نوفر لك ارخص اسعار
        شركات
        نقل الاثاث مع الفك والتركيب , لدينا اسطول سيارات نقل اثاث مجهزة
        وباعلى
        الامكانيات , كل
        هذا واكثر في افضل شركة
        نقل اثاث , نحن نقوم بتغليف العفش بافضل المواد للحفاظ عليه اثناء
        الانتقال
        , كل ماعليك هو
        التواصل معنا عبر الجوال او من خلال خدمة الواتساب ومعرفة المزيد من التفاصيل وايضا التكاليف والاسعار .</p>
    </header>
    <a class="image main">
      <img src="../../assets/images/3.jpg" alt="" />
    </a>
    <ul class="actions special">
      <li>
        <a href="tel:+966510561965" class="button large">اتصل الان للمزيد من التفاصيل </a>
      </li>
    </ul>
  </article>

  <!-- contacts -->
  <div class="mobile">
    <a href="tel:+966510561965">
      <img src="../../assets/images/724664.png" alt="" style="width:
                100%;">
    </a>
  </div>
  <div class="whatsapp">
    <a href="https://wa.me/+966510561965" target="_blank">
      <img src="../../assets/images/889154.png" alt="" style="width:
                100%;">
    </a>
  </div>
</div>
