 <!-- services -->
<div id="main">
    <h2 class="style size-style">
        <a>خـدمـاتـنـــــا</a>
    </h2>
    <section class="posts">
        <article>
            <header>
                <h2>نقــل الاثـــاث</h2>
            </header>
            <a class="image fit">
                <img src="../../assets/images/6.jpg"alt="" />
            </a>
            <p class="style"> لدينــا اسطول متنقل من الشاحنات لنقل الاثاث داخل وخارج الرياض . </p>
            <ul class="actions special">
                <li>
                    <a href="tel:+966510561965" class="button large">اتصل الان للمزيد من التفاصيل </a>
                </li>
            </ul>
        </article>
        <article>
            <header>
                <h2>تخزين اثاث</h2>
            </header>
            <a class="image fit">
                <img src="../../assets/images/5.jpg" alt="" />
                </a>
            <p class="style">فريقنا مدرب علي تخزين اكبر كميات الاثاث علي احسن مستوي .</p>
            <ul class="actions special">
                <li>
                    <a href="tel:+966510561965" class="button large">اتصل الان للمزيد من التفاصيل </a>
                </li>
            </ul>
        </article>
        <article>
            <header>
                <h2>تغلـــيف الاثاث</h2>
            </header>
            <a class="image fit">
                <img src="../../assets/images/4.jpg" alt="" />
            </a>
            <p class="style"> فريقنا مدرب علي احدث طرق التغليف التي تضمن سلامة المنتج وتسهيل نقله لاي مكان وتخزينه</p>
            <ul class="actions special">
                <li><a href="tel:+966510561965" class="button large">اتصل الان
                        للمزيد من
                        التفاصيل </a></li>
            </ul>
        </article>
        <article>
            <header>
                <h2>فك وتركيب الاثـــاث</h2>
            </header>
            <a class="image fit">
                <img src="../../assets/images/24.png" alt="" />
            </a>
            <p class="style"> لدينا فريق من الامهر في المملكه مدربين علي اعلي مستوي في فك وتركيب جميع انواع الاثاث </p>
            <ul class="actions special">
                <li>
                    <a href="tel:+966510561965" class="button large">اتصل الان للمزيد من التفاصيل </a>
                </li>
            </ul>
        </article>
    </section>
</div>
